
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer {
    text-align: center;
    width: 100%;
    padding: 1cm;
    background-color: lightgray;
}
main * * {
    padding: 5px;
    margin: 5px;
}
hr {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    gap: 10px;
}
.flex > .container {
    flex-grow: 1;
}
.container {
    border: 1px solid #000;
    border-radius: 10px;
}
.centered {
    text-align: center;
    align-items: center;
}
.changing {
    color: gray;
}
.sidebar {
    border: 1px solid black;
}


.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    grid-template-areas: 
        "metric1 chart1  chart2 chart2"
        "metric2 chart3 chart4 chart4";
    width: 100%;
    margin: 0 0;
    height: max-content;
}

.dashboard-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.dashboard-card * {
    padding: 0;
    margin: 0;
}

.chart1 { grid-area: chart1; }
.chart2 { grid-area: chart2; }
.chart3 { grid-area: chart3; }
.chart4 { grid-area: chart4; }
.metric1 { grid-area: metric1; }
.metric2 { grid-area: metric2; }

.dashboard-card h3 {
    margin-top: 0;
    color: #333;
}

.metric {
    font-size: 2em;
    font-weight: bold;
    color: #0073e6;
}

@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "overview overview"
            "metric1 metric2"
            "chart1 chart2"
            "chart3 chart4";
    }
}

@media (max-width: 480px) {
    .dashboard {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "overview"
            "metric1"
            "metric2"
            "chart1"
            "chart2"
            "chart3"
            "chart4";
    }
}
