header,
footer {
    width: 100%;
    padding: 2rem;
    background-color: #999999;
}


.account-icon {
    width: 5vh;
    height: 5vh;
}

.header-menu {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    gap: 20px;
}

.header-menu a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
}

.header-menu a:hover {
    color: #ffffff;
}
