header,
footer {
  width: 100%;
  padding: 2rem;
  background-color: #A1A8B0;
  text-align: center;
  width: 100%;
  padding: 1cm;
  position: sticky;
  bottom: 0;
}

.titre-header {
  text-align: left;
  width: 100%;
  margin: 10px;
  /* Supprime les marges par défaut */
  padding: 0;
  /* Supprime les espacements internes si présents */
  font-size: 2rem;
  color: #343a40;
}

.footer-layout a {
  text-decoration: none;
  color: #101010;
}

.bonjour .dropdown-menu img {
  width: 23px;
  height: 23px;
}

.footer-layout a:hover {
  color: #ffffff;
}

.account-icon {
  width: 5vh;
  height: 5vh;
}


.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-menu {
  display: flex;
  gap: 20px;
  margin: 0;
  margin-left: auto;
  margin-right: 50px;
}

.header-menu a {
  position: relative;
  text-decoration: none;
  color: #343a40;
  font-weight: 500;
  margin-left: 20px;
}

.header-menu a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #343a40;
  transition: width 0.3s;
}

.header-menu a:hover::after {
  width: 100%;
}