main * * {
	padding: 1%;
}

.main-container {
	margin: 0;
	padding: 0;
	width: 100%;
	flex: 1;
	background-image: url("../img/fondaccueil.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

hr {
	margin: 0;
	padding: 0;
	background-color: #000;
	height: 5px;
}

/* Ajustement du style pour correspondre à la structure */
.flex {
	display: flex;
	gap: 0;
	/* Élimine les espaces inutiles autour de la sidebar */
}

.centered {
	text-align: center;
	align-items: center;
}

.changing {
	color: gray;
}

#dashboard {
	width: 100%;
	margin: 0 0;
	height: max-content;
	/* Utilisation de max-content pour ajuster la hauteur */
	justify-content: center;
	/* Centrer le contenu */

}

.dashboard-card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	/* aligne le centent au centre */
}

.dashboard-card h4 {
	width: 100%;
}

@media screen and (max-width: 768px) {
	.dashboard-card {
		width: 100%;
	}

	.dashboard-card table {
		width: 100%;
	}

}

.dashboard-card * {
	padding: 0;
	margin: 0;
}

.dashboard-card h3 {
	color: #333;
}

.tab_div::-webkit-scrollbar {
	display: none;
}

.main {
	width: 80vw;
}

/* Style général de la sidebar */
.sidebar {
	min-width: 250px;
	max-width: 250px;
	background-color: #343a40;
	color: white;
	transition: all 0.3s ease;
	/* Transition fluide */
	position: relative;
	padding-top: 10px;
}

/* Sidebar rétractée (collapsée) */
.sidebar.collapsed {
	min-width: 0;
	max-width: 0;
	overflow: hidden;
	visibility: hidden;
	/* Masquer complètement la sidebar quand elle est rétractée */
	padding: 0;
}

/* Liens de la sidebar */
.sidebar .content {
	display: block;
	transition: all 0.3s ease;
}

.sidebar a {
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
	transition: 0.3s;
	font-size: 1rem;
}

.sidebar a:hover {
	background-color: #495057;
}

/* Style du bouton pour afficher/cacher la sidebar */
#toggleSidebar {
	font-size: 0.8rem;
	z-index: 1;
	top: 10px;
	/* Position du bouton en haut */
	right: 10px;
	/* Le bouton est à droite de la sidebar */
	background-color: #495057;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 50px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 250px;
}

/* Styles lorsque la sidebar est rétractée, le bouton prend sa place */
.sidebar.collapsed #toggleSidebar {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
	/* Le bouton est au-dessus de la barre latérale */
}

/* Styles pour afficher le bouton à l'extérieur de la sidebar lorsque elle est fermée */
.sidebar.collapsed {
	min-width: 0;
	max-width: 0;
	overflow: hidden;
}

.sidebar_container {
	position: sticky;
	top: 0;
}

h1,
p {
	margin-top: 20px;
	margin-right: 20px;
}

.glass {
	background: rgba(255, 255, 255, 0.77);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	-webkit-backdrop-filter: blur(4.8px);
	backdrop-filter: blur(4.8px);
}

.glass::-webkit-scrollbar {
	display: none;
}

/* Debut liste Regions / Départements / Villes / Stations */

.nav-tabs li {
	display: inline-block;
}

.nav-tabs li a {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px 5px 0 0;
	text-decoration: none;
	color: #000;
}

.nav-tabs li.active a {
	background-color: #337ab7;
	color: #fff;
}

.nav-tabs li a:hover {
	background-color: #337ab7;
	color: #fff;
}

.glyphicon-remove {
	padding: 5px;
	margin-left: 5px;
	color: red;
	cursor: pointer;
}

.check {
	max-height: 40vh;
	overflow: auto;
	border-radius: 16px;
	padding: 0;
	background: #ffffff;
	box-shadow: -8px 8px 29px #8a8a8a, 8px -8px 29px #ffffff;
}

.check::-webkit-scrollbar {
	display: none;
}

.accueil p {
	font-size: 1.2rem;
	line-height: 1.8;
}

/* Fin liste Regions / Départements / Villes / Stations */

/* Classe pour mettre en avant les dates dynamiques */
.date_dynamique {
	color: #0073e6;
}

/* classe pour transformer les liens en buttons */
.button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #0056b3;
}

/* définir la taille min et max pour les listes de stations */
.scroll-list {
	min-height: 10vh;
}
